.header__menu__item > a {
    text-decoration: none;
    color:  #ffffff;
}

.logo {
    font-family: 'Myriad Pro';
    color:  #000000;
    font-size: 60px;
    font-weight: 400;
    text-align: left;
    margin-left: 5%;
}

.logo__blue {
    color:  #4bcaff;
}

.header__bar {
    background-color:  #35444f;
    width: 90%;
    height: 69px;
    margin-left: 5%;
}

.header__menu {
    font-family: 'Myriad Pro';
    display: flex;
    font-size: 24px;
    font-weight: 400;
    text-align: left;
    list-style: none;
}

.header__menu__item {
    padding: 20px 60px;
    text-align: center;
}

.header__menu__item:hover {
    background-color:  #222f3a;
    border-left: 0.1px solid grey;
    border-right: 0.1px solid grey;
}

.main__menu {
    margin-left: 5%;
    border: 1px solid #35444f;
    width: 342px;
    height: 355px;
    background-color: #ffffff;
    margin-top: 50px;
    float: left;
}

.main__menu__list {
    list-style: none;
    font-size: 27px;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

.main__menu__item {
    padding: 20px 40px;
    text-align: left;
    color: #35444f;
}

.main__menu__item:hover {
    color:  #000000;
    background-color: lightgray;
    padding: 20px 70px;
}

.main__img {
    border: 1px solid #35444f;
    width: 64%;
    height: 527px;
    margin: 50px 4%;
    background-image: url("../Layer 7.png");
    background-size: 35%;
    background-repeat: no-repeat;
    background-position: center;
    float: left;
}

.main__description {
    float: right;
    width: 60%;
    height: auto;
    margin-right: 7%;
    margin-bottom: 100px;
}

.footer {
    float: right;
    width: 90%;
    height: 69px;
    margin-right: 5%;
    background-color: #999999;
    display: flex;
    margin-bottom: 30px;
}

.footer__list {
    display: flex;
    list-style: none;
    padding: 5px 30px;
    margin-right: auto;
    width: 750px;
}

.footer__list__item {
    margin-right: 3%;
    color:  #0c1927;
    font-size: 24px;
}

.footer__list__item > a {
    color: #000000;
    text-decoration: none;
}

.footer__list__item > a:hover {
    text-decoration: underline;
    color: #3181a6;
}

.copyright {
    float: right;
    padding: 20px 30px;
    font-size: 24px;
}